body{
	font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
}
body header{
    background-color: #efefef;
	font-size: 18px;
    font-weight: bold;
}
body header .login{
    float: left;
    margin-left: 200px;
}
body header .register{
    margin-left: 20px;
}
body header .orderList{
    margin-left: 650px;
}
body header .shoppingCar{
    margin-left: 20px;
}

.leftNavi{
    float: left;
    background-color: #efefef;
    margin-left: 200px;
    font-size: 20px;
    width: 180px;
    height: 400px;
    margin-top: 20px;
}
.leftNavi ul {
    list-style-type: none;
    padding-left: 15px;
}
.leftNavi ul li{
    margin-top: 30px;
}
.middlePic {
    float: left;
    margin-top: 40px;
}
.middlePic img{
    height: 400px;
}
.rightDesp{
    margin-left: 100px;
    margin-top: 39px;
    float: left;
}
.rightDesp p{
    text-align: right;
	font-size: 20px;
}

.horizontalGallery {
    clear: both;
    margin-left: 200px;
	margin-top: 200px;
}
hr {
    background-color: black;
    color: black;
    height: 2px;
    border: 0px;
    clear: both;
    margin-left: 0px;
    width: 880px;
}
.horizontalGallery > p{
    font-weight: bold;
    font-size: 20px;
	margin-bottom: 0px;
	
}
.horizontalGallery > div{
    float: left;
    text-align: center;
	margin-left: 40px;
}
.horizontalGallery > div > div:first-child{
    font-weight: bold;
    margin-bottom: 30px;
}
.horizontalGallery img{
    width: 200px;
}

footer img{
	width: 350px;
}
.footer{
	clear: both;
	float: left;
	margin-left: 200px;
	margin-top: 50px;
}
.footer div:first-child{
	float: left;
}
.footer div:first-child + div{
	float: left;
	margin-left: 200px;
}
