body{
	font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
}
header{
    background-color: #efefef;
	font-size: 18px;
    font-weight: bold;
}

header .register{
    margin-left: 20px;
}
header .orderList{
    margin-right: 20px;
}
header .leftMenu{
	display: inline;
	float: right;
}

.content{
	margin: 0 auto; 
	width: 900px;
}

.leftNavi{
    float: left;
    background-color: #efefef;
    font-size: 20px;
    width: 180px;
    height: 400px;
    margin-top: 20px;
}
.leftNavi ul {
    list-style-type: none;
    padding-left: 15px;
}
.leftNavi ul li{
    margin-top: 30px;
}
.leftNavi ul li a{
    text-decoration: blink;
    color: black;
}

.middlePic {
    float: left;
    margin-top: 40px;
}
.middlePic img{
    height: 400px;
}

.rightDesp{
    margin-top: 39px;
    float: right;
}
.rightDesp p{
    text-align: right;
	font-size: 20px;
}

.horizontalGallery {
    clear: both;
	margin-top: 200px;
}
.horizontalGallery > p{
    font-weight: bold;
    font-size: 20px;
	border-bottom: 3px solid;
	padding-bottom: 10px;
	
}
.galleryItem{
    float: left;
    text-align: center;
	margin:0 40px;
}
.galleryItemTitle{
    font-weight: bold;
    margin-bottom: 30px;
}
.galleryImg{
    width: 200px;
    background: url(./pics/disk/1TB-disk.jpg)
    no-repeat;
    background-size: 200px 200px; 
}
.galleryImgMask{ 
  width:200; 
  height:200px; 
  background:#FFF; 
  opacity:0;
} 
.galleryImg:hover .galleryImgMask { 
  opacity:0.6; 
  text-align:justify; 
  color:#000000; 
  font-size:20px;
  font-weight:700; 
  font-family:"Times New Roman", Times, serif;
  padding-left:30px;
}

.buttonOverImg{
  margin-top: 90px;
  font-size: 20px;  
  font-weight: 700; 
  cursor: pointer;
}
.buttonOverImgSurplus{
  margin-left: 25px;
}
.buttonOverImg:hover {
  background-color: #4d90fe;
}

footer{
    background: none repeat scroll 0 0 #f0f0f0;
	margin-top: 300px;
}
footer img{
    width: 350px;
}
.footerLeft{
	float: left;
	display: inline;
}
.footerRight{
	float: right;
	display: inline;
}